@haader-green: #58cbb4;

.header {
    font-family: 'Parastoo', sans-serif;
    font-weight: normal;
    background-color: @haader-green;
    overflow: hidden;

    .top {
        height: 50px;
        display: flex;

        .hamburger {
            width: 40px;
            height: 32px;
            margin-top: 9px;
            cursor: pointer;
        }

        .logo {
            @size: 3em;
            background-image: url('../Header/images/logo.png');
            background-size: contain;
            width: @size;
            height: @size;
            position: absolute;
            left: 50%;
            margin-left: @size / -2;
        }
    }


    .menuItems {
        height: 0;

        &.menuItemsOpen {
            height: auto;
        }

        li {
            display: block;
            padding: 0.5em .25em;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}